/* https://coolors.co/bcf0be-c6a0ff-dac1ff-f1c1d0-fbf8f0 */
body {
    background-color: #FBF8F0;
    font-family: 'Archivo Narrow', sans-serif;
    color: #060E07;
    overflow-x: hidden;
}

header {
    color: #BCF0BE;
}

main {
    max-width: 1260px;
}

section {
    margin: 10px 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Pathway Gothic One', sans-serif;
}

span {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: lighter;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-position: center;
    background-size: cover;
    z-index: -9999;
    background-image: url('./assets/img/rickmorty.jpg');
    margin: 0 auto;
}

.home {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    color: #BCF0BE;
}

.home h1 {
    font-size: 150px;
}

.home h3 {
    font-size: 30px;
}

#lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#lista .item {
    background-color: #DAC1FF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 180px 230px;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 10px;
    margin-left: 5px;
}

#lista .item:hover {
    box-shadow: 0px 0px 5px 2px rgba(124, 122, 122, 0.65);
    background-color: #C6A0FF;
}

#lista .item h2 {
    margin-top: 5px;
}

#lista .item img {
    width: 170px;
    height: 170px;
    border-radius: 10px 0 0 10px;
}

#lista .item p {
    line-height: 1px;
}
footer {
    background-color: #F1C1D0;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-left: -10px;
}



/* Container de infos */


.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
    color: #333;
  }
  
  .modalDialog h2 {
    margin-top: -15px;
  }

  .modalDialog img {
    width: 170px;
    height: 170px;
  }
  
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modalDialog > div {
    max-width: 700px;
    position: relative;
    margin: 3% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #f4f4f4;
    overflow-y: scroll;
    height: 450px;
  }
  
  /*close button */
  .close .close-container{
    position: relative;
    margin-left: auto;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0;
  }
  
  .close .leftright{
  height: 4px;
  width: 30px;
  position: absolute;
  background-color: rgba(226,130,12,1);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
  padding: 0;
  }
  
  .close .rightleft{
  height: 4px;
  width: 30px;
  position: absolute;
  background-color: rgba(226,130,12,1);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
  padding: 0;
  }
  
  .close .close{
  margin: 60px 0 0 5px;
  position: absolute;
  }
  
  .close .close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: rgba(158,11,26,1);
  }
  .close .close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: rgba(158,11,26,1);
  }

  .modalDialog #episodios {
      display: flex;
      flex-direction: row;
      width: 600px;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .modalDialog #episodios div {
      width: 110px;
      padding: 5px;
  }
  .modalDialog #episodios a {
      text-decoration: none;
      color: #060E07;
      transition: all 0.3s;
  }

  .modalDialog #episodios a:hover {
      color: #225c2a;
      text-decoration: double;
  }

  .info {
      display: grid;
      grid-template-columns: 200px 500px;
  }

  .items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }