.screen-container{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    
}

.screen-container .movies-container{
    display: flex;
}
.program-container {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.program-container h2 {
    align-self: flex-start;
}
.program-container > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}